@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body {
  margin: 0;
  padding: 0;
  background: #E8F4FA;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton-item {
  width: 100%;
  background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
  background-size: 2000px 104px;
  animation: shimmer 2s infinite linear;
}
