
.target-freelancer-page {
    display: flex;
    flex-direction: column;
    padding: 25px 20px!important;
}

.star {
    cursor: pointer;
}

.user-card {
    background: #fff;
    padding: 20px 50px;
    border-radius: 20px;
}

.user-card__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-card__column {
    display: flex;
    flex-direction: column;
}

.user-card__avatar-container {
    position: relative;
}

.user-card__avatar {
    width: 200px;
    height: 200px;
    /* height: 30%; */
    object-fit: cover;
    border-radius: 50%;
}

.user-card__rating {
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px #a7a7a7 solid;
    border-radius: 20px;
    font-size: 20px;
    padding: 2px 4px;
}

.user-card__username {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin: 0;
}

.user-card__role {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin: 0;
}

.category-column {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
}

.user-card__category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.user-card__category img {
    width: 50px;
}

.user-card__message-btn {
    border-radius: 20px;
    background: #eee;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 22px;
}

.message-column {
    padding-left: 250px;
}

.reviews {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.reviews-title {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 23px;
}

/* / */
.add-review {
    width: 100%;
    border-radius: 20px;
    background: #fff;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-review__title {
    font-size: 20px;
    margin: 0;
}
.add-review__send-btn {
    font-size: 18px;
    border-radius: 5px;
    background: #1090CB;
    color: #fff;
    font-weight: 400;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.add-review__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.add-review__input {
    width: calc(100% - 10px - 130px);
    height: 40px;
    border-radius: 5px;
    outline: none;
}
.add-review .content-row {
    justify-content: space-between;
}
.add-review__rating {
    margin-left: 8px;
}

.user-card__link-to-conversation {
    text-decoration: none;
    color: #000;
}

@media (max-width: 662px){
    .user-card__username {
        font-size: 35px;
    }
    .user-card__row {
        justify-content: center;
        /* align-items: center; */
    }
    .user-card__role {
        /* margin: 0 auto; */
        margin-top: 20px;
        font-size: 30px;
    }
    .message-column {
        padding: 0;
        margin-top: 15px;
    }
    
    .add-review__input {
        width: 100%;
    }
    .add-review__row {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .add-review__rating {
        margin: 0;
    }
}